div{
  border: 2px solid black;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.grand-parent{
  background-color: burlywood;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.parent{
background-color: aqua;
width: 400px;
height: 80%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

.child{
background-color: cadetblue;
width: 140px;
height: 140px;
}

.fonttext{
  font-size: 30px;
}

.textcolor{
  color: white;
}

.bgcolor{
  background-color: black;
}

.error{
  color: red;
   font-size: 45px;
}

.zoomOut{
  width: 200px;
  height: 200px;
}